@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You sure You Wanna Delete This Employee?</h1>
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsPartialView" />
    <input asp-for="ImageName" type="hidden"/>
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" asp-controller="Employee" class="btn btn-light">Back To List</a>
</form>

