
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="body">
			<div>
			<p>Password Reset Link Has Been Sent To Your Email , Please Check Your Inbox :)</p>
			</div>
			<div>
				<a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
			</div>
		</div>
	</div>
</div>
@section ValidationScripts{
	<partial name="_ValidationScriptsPartial" />
}