@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="SendPasswordResetLink">
			<input class="text" asp-for="Email" placeholder="Email Address">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScripts{
	<partial name="_ValidationScriptsPartial" />
}



