@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
        <div asp-validation-summary="All"></div>
		<form asp-action="Login">
			<input class="text" asp-for="Email" placeholder="Email Address">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<input class="text" asp-for="Password" placeholder="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me?</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="Login">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p><a asp-action="ForgetPassword">Forget Password?</a></p>
	</div>
</div>
@section ValidationScripts{
	<partial name="_ValidationScriptsPartial" />
}

