@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassword">
			<input class="text" asp-for="NewPassword" placeholder="New Password">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
			<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScripts{
	<partial name="_ValidationScriptsPartial" />
}


