@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br/>
<br/>
<form asp-action="Create">
    <partial name="PartialViews/_CreateEditPartialView" />
<input type="submit" value="Create" class="btn btn-primary" /> |
<a asp-action="Index" asp-controller="Departement" class="btn btn-light">Back To List</a>
</form>
@section ValidationScripts
    {
    <partial name="_ValidationScriptsPartial" />
}

