@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Departments Details</h1>
<br />
<br />
<div>
    <partial name="PartialViews/_DeleteDetailsPartialView" />
    <a class="btn btn-success " asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Departement" class="btn btn-light">Back To List</a>
</div>

