@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/_CreateEditPartialView" />
    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" asp-controller="Departement" class="btn btn-light">Back To List</a>
</form>
@section ValidationScripts
    {
    <partial name="_ValidationScriptsPartial" />
}
