@model string
<td><a class="btn btn-warning" asp-action="Details" asp-route-id="@Model"><i class="fas fa-eye"></i> Details</a></td>
<td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model"><i class="fas fa-edit"></i> Edit</a></td>
<td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model"><i class="fas fa-trash"></i> Delete</a></td>